body {
    background-color: #222222;
    color: #FFFFFF;
    font-family: "微软雅黑";
}

h1, h2 {
    color: #BBFF00;
}


a {
    color: blue;
    target: _blank;
}

img {
    width: 300px;
    height: 300px;
    alt: "A Picture of a Pie";
}
